sejourSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Sejours">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Colonies">
                    <xs:complexType>
                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                            <xs:sequence>
                                <xs:element name="Colonie">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element type="xs:string" name="Nom"/>
                                            <xs:element name="Destination">
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element type="xs:string" name="Pays"/>
                                                        <xs:element type="xs:string" name="Ville"/>
                                                        <xs:element type="xs:string" name="Residence"/>
                                                        <xs:element type="xs:string" name="DateDebut"/>
                                                        <xs:element type="xs:string" name="DateFin"/>
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element type="xs:int" name="Prix"/>
                                            <xs:element type="xs:string" name="Langue"/>
                                            <xs:element name="Activites">
                                                <xs:complexType>
                                                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                        <xs:sequence>
                                                            <xs:element name="Sportive">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:element type="xs:string" name="Sport"/>
                                                                        <xs:element type="xs:string" name="Lieu"/>
                                                                        <xs:element type="xs:string" name="Date"/>
                                                                        <xs:element type="xs:string" name="Duree"/>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element name="Culturelle" minOccurs="0">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:element type="xs:string" name="Nom"/>
                                                                        <xs:element type="xs:string" name="Lieu"/>
                                                                        <xs:element type="xs:string" name="Date"/>
                                                                        <xs:element type="xs:string" name="Duree"/>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:choice>
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element name="Public">
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element name="Adultes">
                                                            <xs:complexType>
                                                                <xs:sequence>
                                                                    <xs:element name="Animateurs">
                                                                        <xs:complexType>
                                                                            <xs:choice maxOccurs="unbounded">
                                                                                <xs:sequence>
                                                                                    <xs:element name="Animateur">
                                                                                        <xs:complexType>
                                                                                            <xs:sequence>
                                                                                                <xs:element type="xs:string" name="Age"/>
                                                                                                <xs:element type="xs:string" name="Nom"/>
                                                                                                <xs:element type="xs:string" name="Prenom"/>
                                                                                            </xs:sequence>
                                                                                            <xs:attribute type="xs:byte" name="idAnimateur"/>
                                                                                        </xs:complexType>
                                                                                    </xs:element>
                                                                                </xs:sequence>
                                                                            </xs:choice>
                                                                        </xs:complexType>
                                                                    </xs:element>
                                                                    <xs:element name="Intervenants">
                                                                        <xs:complexType>
                                                                            <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                                                <xs:sequence>
                                                                                    <xs:element name="Intervenant">
                                                                                        <xs:complexType>
                                                                                            <xs:sequence>
                                                                                                <xs:element type="xs:string" name="Age"/>
                                                                                                <xs:element type="xs:string" name="Nom"/>
                                                                                                <xs:element type="xs:string" name="Prenom"/>
                                                                                                <xs:element type="xs:string" name="Occupation"/>
                                                                                            </xs:sequence>
                                                                                            <xs:attribute type="xs:byte" name="idIntervenant"/>
                                                                                        </xs:complexType>
                                                                                    </xs:element>
                                                                                </xs:sequence>
                                                                            </xs:choice>
                                                                        </xs:complexType>
                                                                    </xs:element>
                                                                </xs:sequence>
                                                            </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="Jeunes">
                                                            <xs:complexType>
                                                                <xs:choice maxOccurs="unbounded">
                                                                    <xs:sequence>
                                                                        <xs:element name="Jeune">
                                                                            <xs:complexType>
                                                                                <xs:sequence>
                                                                                    <xs:element type="xs:string" name="Age"/>
                                                                                    <xs:element type="xs:string" name="Nom"/>
                                                                                    <xs:element type="xs:string" name="Prenom"/>
                                                                                </xs:sequence>
                                                                                <xs:attribute type="xs:byte" name="idJeune"/>
                                                                            </xs:complexType>
                                                                        </xs:element>
                                                                    </xs:sequence>
                                                                </xs:choice>
                                                            </xs:complexType>
                                                        </xs:element>
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:sequence>
                                        <xs:attribute type="xs:byte" name="Reference" use="required"/>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="GroupesScolaires">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Groupe">
                                <xs:complexType>
                                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                                        <xs:sequence>
                                            <xs:element type="xs:string" name="Nom"/>
                                            <xs:element name="Destination">
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element type="xs:string" name="Pays"/>
                                                        <xs:element type="xs:string" name="Ville"/>
                                                        <xs:element type="xs:string" name="Residence"/>
                                                        <xs:element type="xs:string" name="DateDebut"/>
                                                        <xs:element type="xs:string" name="DateFin"/>
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element type="xs:int" name="Prix"/>
                                            <xs:element type="xs:string" name="Langue"/>
                                            <xs:element name="Activites">
                                                <xs:complexType>
                                                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                        <xs:sequence>
                                                            <xs:element name="QuizLangue">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:element type="xs:string" name="Nom"/>
                                                                        <xs:element type="xs:string" name="Date"/>
                                                                        <xs:element type="xs:string" name="Duree"/>
                                                                        <xs:element type="xs:string" name="Langue"/>
                                                                        <xs:element type="xs:string" name="NombreQuestion"/>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element name="CoursLangue">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:element type="xs:string" name="Date"/>
                                                                        <xs:element type="xs:string" name="Duree"/>
                                                                        <xs:element type="xs:string" name="Langue"/>
                                                                        <xs:element type="xs:byte" name="ProfesseurId"/>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:choice>
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element name="Public">
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element name="Adultes">
                                                            <xs:complexType>
                                                                <xs:sequence>
                                                                    <xs:element name="Professeurs">
                                                                        <xs:complexType>
                                                                            <xs:sequence>
                                                                                <xs:element name="Professeur" maxOccurs="unbounded"> <!-- au moins 1 prof par sortie-->
                                                                                    <xs:complexType>
                                                                                        <xs:sequence>
                                                                                            <xs:element type="xs:string" name="Age"/>
                                                                                            <xs:element type="xs:string" name="Nom"/>
                                                                                            <xs:element type="xs:string" name="Prenom"/>
                                                                                            <xs:element type="xs:string" name="Matiere"/>
                                                                                        </xs:sequence>
                                                                                        <xs:attribute type="xs:byte" name="idProfesseur"/>
                                                                                    </xs:complexType>
                                                                                </xs:element>
                                                                            </xs:sequence>
                                                                        </xs:complexType>
                                                                    </xs:element>
                                                                    <xs:element name="ParentsAccompagnateur">
                                                                        <xs:complexType>
                                                                            <xs:sequence>
                                                                                <xs:element name="Parent" maxOccurs="unbounded" minOccurs="0"> <!-- un parent n'est pas nécessaire-->
                                                                                    <xs:complexType>
                                                                                        <xs:sequence>
                                                                                            <xs:element type="xs:string" name="Age"/>
                                                                                            <xs:element type="xs:string" name="Nom"/>
                                                                                            <xs:element type="xs:string" name="Prenom"/>
                                                                                            <xs:element type="xs:byte" name="JeuneId"/>
                                                                                        </xs:sequence>
                                                                                        <xs:attribute type="xs:byte" name="idParent"/>
                                                                                    </xs:complexType>
                                                                                </xs:element>
                                                                            </xs:sequence>
                                                                        </xs:complexType>
                                                                    </xs:element>
                                                                </xs:sequence>
                                                            </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="Jeunes">
                                                            <xs:complexType>
                                                                <xs:sequence>
                                                                    <xs:element name="Jeune" maxOccurs="unbounded"> <!-- au moins 1 eleve par sortie-->
                                                                        <xs:complexType>
                                                                            <xs:sequence>
                                                                                <xs:element type="xs:string" name="Age"/>
                                                                                <xs:element type="xs:string" name="Nom"/>
                                                                                <xs:element type="xs:string" name="Prenom"/>
                                                                            </xs:sequence>
                                                                            <xs:attribute type="xs:byte" name="idJeune"/>
                                                                        </xs:complexType>
                                                                    </xs:element>
                                                                </xs:sequence>
                                                            </xs:complexType>
                                                        </xs:element>
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:sequence>
                                    </xs:choice>
                                    <xs:attribute type="xs:byte" name="Reference" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Accueils">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Accueil">
                                <xs:complexType>
                                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                                        <xs:sequence>
                                            <xs:element type="xs:string" name="Nom"/>
                                            <xs:element name="Destination">
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element type="xs:string" name="Pays"/>
                                                        <xs:element type="xs:string" name="Ville"/>
                                                        <xs:element type="xs:string" name="Residence"/>
                                                        <xs:element type="xs:string" name="DateDebut"/>
                                                        <xs:element type="xs:string" name="DateFin"/>
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element type="xs:int" name="Prix"/>
                                            <xs:element type="xs:string" name="Langue"/>
                                            <xs:element name="Public">
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element name="Famille">
                                                            <xs:complexType>
                                                                <xs:sequence>
                                                                    <xs:element name="Membre" maxOccurs="unbounded">
                                                                        <xs:complexType>
                                                                            <xs:sequence>
                                                                                <xs:element type="xs:string" name="Age"/>
                                                                                <xs:element type="xs:string" name="Nom"/>
                                                                                <xs:element type="xs:string" name="Prenom"/>
                                                                            </xs:sequence>
                                                                            <xs:attribute type="xs:string" name="role" use="required"/>
                                                                        </xs:complexType>
                                                                    </xs:element>
                                                                </xs:sequence>
                                                            </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="Jeune"> <!--il y a exactement un et unique jeune en déplacement -->
                                                            <xs:complexType>
                                                                <xs:sequence>
                                                                    <xs:element type="xs:string" name="Age"/>
                                                                    <xs:element type="xs:string" name="Nom"/>
                                                                    <xs:element type="xs:string" name="Prenom"/>
                                                                </xs:sequence>
                                                            </xs:complexType>
                                                        </xs:element>
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:sequence>
                                    </xs:choice>
                                    <xs:attribute type="xs:byte" name="Reference" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
